# This is a basic workflow to help you get started with Actions

name: main

# Controls when the action will run. 
on:

  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Log GitHub Sha
        run: echo $GITHUB_SHA
      - name: log everything
        uses: hmarr/debug-action@v2

      # Runs a set of commands using the runners shell
      - name: Create Netral check
        run: |
          curl -X POST \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/wechorg/check_run/check-runs \
          -d "{\"name\":\"awesome\",\"head_sha\":\"$GITHUB_SHA\",\"status\":\"completed\",\"conclusion\":\"neutral\"}"
